.section-client {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 1440px;
        height: 2px;
        background-color: $accent-color;


    }

    &__img {
        width: 323px;
        height: 358px;
        margin-bottom: 124px;
    }

    &__list {
        & {
            @include list();
        }

        display: flex;
        justify-content: space-around;
    }
}