.section-tittle {
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    color: $accent-color;
    display: flex;
    position: relative;
}